/* Modal */


.modal-wrapper {
  background: rgba(0, 173, 95, 0.8);
  background: linear-gradient(180deg, #0e81d6, rgba(0, 173, 95, 0.8));
}

.modal {

}

.contact-info {
  flex-grow: 1;
  padding: 30px 15px 0 15px;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-info-item {
  margin-bottom: 45px;
  width: 355px;
  max-width: 100%;
}

.contact-info-item:last-child {
  margin-bottom: 0;
}

.contact-info-item__title {
  color: #fff;
}

.contact-info-item__text {
  font-size: 15px;
  line-height: 1.6;
  color: #999;
}

.contact-info-item__link {
  font-size: 15px;
  line-height: 1.6;
  color: #00ad5f;
}

.contact-form {
  flex-grow: 1;
  height: 500px;
}

